<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>194138793764-r9oun79ooj3cmkq3o8dlm8taiu0604g5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.194138793764-r9oun79ooj3cmkq3o8dlm8taiu0604g5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>194138793764-95rpjluag5lh33tpcpjscno6t10vknrv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAsOmHy92sc0RE_CYRxVyORS6vgyIBkEFE</string>
	<key>GCM_SENDER_ID</key>
	<string>194138793764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flatform</string>
	<key>PROJECT_ID</key>
	<string>flatform-7874d</string>
	<key>STORAGE_BUCKET</key>
	<string>flatform-7874d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:194138793764:ios:d67558d20be8b8695a35b1</string>
	<key>DATABASE_URL</key>
	<string>https://flatform-7874d.firebaseio.com</string>
</dict>
</plist>